In [ ]:
import pandas as pd
import numpy as np

1. In the cell below, create a 3x3 Data Frame with each value as '1' and add unique column names.

2. In the cell below, find the type of the first row of the first column of your new DataFrame.

3. In the cell below, find and print the value of the center cell of your DataFrame.

4. In the cell below, create a list with elements 'a', 'b', and 'c', transform it into a DataFrame, and find the type of the second row of the first column.

5. In the cell below, create a for loop that will create a list of length 10 with numbers ranging from 0 to 9, then, convert this new list into a DataFrame.

6. In the cell below, create a new 4x4 DataFrame of random numbers between 0 and 1.

7. In the cell below, print the 2nd row of the 3rd column.

8. In the cell below, create a new DataFrame using only the 1st and 3rd column.

9. In the cell below, create a new DataFrame from problem 6 where you include only rows where the first column is greater than .4, your answer may return an empty DataFrame.

10. In the cell below, using the iloc method, pring the 4th row of the data frame from problem 6.