# SQL Homework

All of the subquestions (ie: a, b, c, etc.) are worth 1 point unless noted otherwise.

Data sources:

https://github.com/rashida048/Datasets/blob/master/census.csv

https://www.bls.gov/lau/ - Labor force data by county, 2010 annual averages

<b>1. (4 Points) Imports </b>

    a) Load in sqlite3, pandas (rename it as pd), os and datetime (rename it as dt) packages.

    b) Copy and paste the get_download_path() function into the cell below.

    c) (2 Points) Place the "census_data.csv" into your downloads folder and load it into a pandas dataframe called "df".

In [ ]:
df = ...

<b>2. (10 Points) Basics of Census Data</b>

    a) Print out the column names.

    b) (6 points) Keep only the columns 'STNAME', 'CTYNAME' and ones that contain 2010 data.  Store this new dataframe as "df_2010".

In [ ]:


df_2010.head()

    c) Remove "2010" from all column names.

In [ ]:


df_2010.head()

    d) Check and print out if any values in "df_2010" are missing/null/NA.

    e) Check the data types of all the columns in "df_2010".

<b>3. (6 Points) Basics of Unemployment Data </b>

    a) Place the "county_unemployment.xlsx" into your downloads folder and load it into a pandas dataframe called "df2".

In [ ]:
df2 = ...

    b) Print out the last 10 values - what is wrong with the our dataset right now?

    c) Get rid of column called "Unnamed: 5" in df2, then print out the null values.

    d) Run the block of code below to split "County_Name_State_Abbreviation" into two seperate columns by comma. If    you wish, find out why this split isn't sufficient - check out the unique values of State. (Not Required)

    e) Remove null values and return the dataframes's length.  Does the length make sense?

    f) Check the data types of all the columns in "df2".

<b>4. (15 Points) Loading Datasets to SQL </b>

    a) (5 Points) Edit the code block below to connect to a database called "SQL_HW.db"

In [ ]:
# open connnection to a db file stored locally on disk - if file doesn't exist it is created
connection = sqlite3.connect(...)

# In order to run SQL commands with sqlite 3, we must create a cursor object
# that traverses the database to run sql commands execute them
cursor = connection.cursor()

#Check if "SQL_HW.db" exists using linux commands
!ls

    b) (5 points) The code below has the "df_2010" dataset ready to be stored as the "Census" table in the "SQL_HW.db" database.  Add to this code to have the "df2" dataset stored as the "Unemployment" table in the "SQL_HW.db" database.

In [ ]:
#Used for timer
start = dt.datetime.now()

df_2010.to_sql('Census', connection, if_exists='replace', index=False) # name of SQL table, connection, append?, index?


print('Seconds this took: ',(dt.datetime.now() - start).seconds)
print('done')

    c) (5 points) Edit the two SQL code blocks below to select all entries from "Census" and "Unemployment" tables to check that we are sure that the datasets were stored correctly.

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

<b>5. (20 Points) Pulling Data from SQL </b>

    a) (5 points) Using SQL - for each state, print out the count of the total counties and the sum of the "CENSUSPOP" from the "Census" table... this answer should be one SQL command, only use the "Census" table.

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

    b) (5 points) In the "Census" database - print out all rows that have the "STNAME" equal to the "CTYNAME".

In [ ]:
sql_statement = """

;
"""

df_state=pd.read_sql_query(sql_statement,con = connection)
len(df_state)

    c) (5 points) Delete all rows from the "Census" database where "STNAME" is equal to "CTYNAME" in the first sql statement.  Then run code block - how many rows were deleted?  Does this make sense?

In [ ]:
sql_statement = """

;
"""

connection.execute(sql_statement)

sql_statement = """
SELECT * FROM Census
;
"""

pd.read_sql_query(sql_statement,con = connection)

    d) (5 points) Edit the code block below to add the "df_state" dataset to our "SQL_HW.db" databse as the "Census_State" table.

In [ ]:
#Used for timer
start = dt.datetime.now()

....to_sql(..., ..., if_exists='replace', index=False) # name of SQL table, connection, append?

print('Seconds this took: ',(dt.datetime.now() - start).seconds)
print('done')

sql_statement = """
SELECT * FROM Census_State
;
"""

pd.read_sql_query(sql_statement,con = connection)

<b>6. (45 Points) Joining Our Tables </b>

    a) (5 points) Join the "CENSUS" table (as a) to the "UNEMPLOYMENT" table (as b) as a LEFT JOIN (with "CENSUS" on the left) where their county variables are equal to each other.  ONLY select the "STNAME", "CTYNAME" and "CENSUSPOP" variables.

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

    b) (15 points) Inner join the "CENSUS" table (as a) with the "UNEMPLOYMENT" table (as b) where their county variables are equal to each other.  Only select the STNAME, the sum total of "CENSUSPOP" for the state (rename as "Census_Pop", the sum total of the "POPESTIMATE" (as "Pop_Estimate"), and the absolute value of the difference of the "Census_Pop" and "Pop_Estimate" variables as "Difference".  Order by the "Difference" in descending value and only select the *STATES* that have "Difference" greater than 50,000.

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

    c) (15 points) Use the default join with the "CENSUS" table (as a) to the "UNEMPLOYMENT" table (as b) where their county variables are equal to each other.  Only select the STNAME, CTYNAME, CENSUSPOP, the "Unemployment_Rate" muliplied by the "CENSUSPOP" divided by 100 as "Unemployed_Census" and the "Unemployment_Rate" variables.  Order by "Unemployed_Census" in ascending order and only keep *COUNTIES* with CENSUSPOP > 2,000,000  Do you notice something odd about the data?  What is the default join type? (inner/left/right/outer)

In [ ]:
sql_statement = """

;
"""

pd.read_sql_query(sql_statement,con = connection)

    d) (10 points) In words - explain in detail the 4 different kinds of merges and how they differ.